{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register | ZestReach SAAS</title>
  <link href="{% static 'css/register.css' %}" rel="stylesheet" />
 
</head>
<body>
  <div class="container">
    <form class="login-form" method="POST">
      {% csrf_token %}
      <!-- Logo inside form -->
      <img src="{% static 'images/zestlogo.png' %}" alt="ZestBotz Logo" class="form-logo" />
      <h2>Create Account</h2>

      <input type="text" name="first_name" placeholder="First Name" required />
      <input type="text" name="last_name" placeholder="Last Name" required />
      <input type="email" name="email" placeholder="Enter your Gmail" required />
      <input type="password" name="password" placeholder="Enter Password" required />
      <input type="password" name="confirm_password" placeholder="Confirm Password" required />

      <button type="submit">Register</button>

      {% if messages %}
        <ul>
          {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
       <div class="terms-group">
                You have an account? <a href="{% url 'login_page' %}">Login</a>
            </div>
    </form>
  </div>
</body>
</html>
